<?xml version="1.0" encoding="utf-8" ?>
<template version="1.0">
  <id>
    D711BFAD-78B6-4a17-A6F8-8FB9FAE24F5A
  </id>
  <name>Heimcomputer</name>
  <memo>Mikrocomputer der 80er-Jahre, welcher überwegend im privaten Haushalten genutzt wurde.</memo>
  <tag></tag>
  <timestamp></timestamp>
  <url></url>
  <attribute name="Prozessor" />
  <attribute name="Hauptspeicher" />
  <attribute name="Betriebssystem" />
  <attribute name="Seriennummer" />
  <attribute name="Taktrate" />
</template>