<?xml version="1.0" encoding="utf-8"?>
<template version="1.0">
  <id>98254be7-1aa1-4fc3-a6c9-4a7b1730ca14</id>
  <name>Zubehör</name>
  <memo>Computerzubehör</memo>
  <timestamp>2017-08-13T16:03:53.7466993+02:00</timestamp>
  <url />
  <attribute name="Seriennummer" />
</template>